.maze {
    display: grid;
    grid-template-rows: repeat(20, 20px); /* Adjust rows as needed */
    grid-template-columns: repeat(20, 20px); /* Adjust columns as needed */
    align-items: left;

  }
  .maze-row {
    align-items: center;
  }
  
  .maze-cell {
    width: 20px;
    height: 20px;
  }
  
  .wall {
    background-color: black;
  }
  
  .path {
    background-color: white;
  }