.maze {
    display: inline-grid;
    grid-template-rows: repeat(20, 20px); /* Adjust rows as needed */
    grid-template-columns: repeat(20, 20px); /*Adjust columns as needed */
    margin: 0 auto; /* Center the maze */
    border: 2px solid black; /* Optional: Add a border around the maze */
    align-items: baseline;
    justify-items: right;

  }
  .maze-row {
    align-items: left;
    display: flex;
    justify-content: left;
  }

  .hero{
    background-color: blue;
    border-radius: 50%;
    margin: 0 auto; /* Center the hero */
    display: flex;
  }
  
  .maze-cell {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc; /* Optional: Add a border around each cell */
    justify-content: left;
  }
  
  .wall {
    background-color: black;
  }
  
  .path {
    background-color: white;
  }
